* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 5000px;
    padding-top: 80px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
    flex: 1; 
}

.col-1 { flex: 0 0 8.33%; max-width: 8.33%; }
.col-2 { flex: 0 0 16.66%; max-width: 16.66%; }
.col-3 { flex: 0 0 25%; max-width: 25%; }
.col-4 { flex: 0 0 33.33%; max-width: 33.33%; }
.col-5 { flex: 0 0 41.66%; max-width: 41.66%; }
.col-6 { flex: 0 0 50%; max-width: 50%; }
.col-7 { flex: 0 0 58.33%; max-width: 58.33%; }
.col-8 { flex: 0 0 66.66%; max-width: 66.66%; }
.col-9 { flex: 0 0 75%; max-width: 75%; }
.col-10 { flex: 0 0 83.33%; max-width: 83.33%; }
.col-11 { flex: 0 0 91.66%; max-width: 91.66%; }
.col-12 { flex: 0 0 100%; max-width: 100%; }



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px 100px;
    position: fixed;
    width: 100%; 
    top: 0; 
    z-index: 1000; 
    transition: background-color 0.3s ease, color 0.3s ease;}
.scrolled{
    background-color:#fff;
}

.navbar.scrolled .navbar__menu a {
    color: black; 
}
.navbar .navbar__toggle {
    color: black; 
}

.navbar__logo img {
    width: 100px; 
}

.navbar__menu {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end; 
    align-items: center; 
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.navbar__menu a:hover {
    background-color: #575757;
    border-radius: 5px;
}


.navbar__toggle {
    display: none; 
    font-size: 30px;
    cursor: pointer;
    color: white;
}
.navbar__close i{
    font-size: 40px;
}
.navbar__close{
    display: none; 
}

@media (min-width: 768px) {
    .navbar__toggle , .navbar__close{
        display: none;
    }
}
@media (max-width: 768px) {
    .navbar{
        background-color: #fff;
    }
    .navbar .navbar__menu a {
        color: black; 
    }
    
    .navbar__menu {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px; 
        right: 0;
        background-color: #ffffff;
        width: 100%;
        padding: 10px 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease; 
    }

    .navbar__menu.active {
        display: flex;
        opacity: 1; 
        visibility: visible;
    }

    .navbar__toggle {
        display: block; 
    }

    .navbar__menu li {
        text-align: left;
        width: 100%;
    }

    .navbar__menu a {
        padding: 15px 0;
        display: block;
        color: white;
    }
}